In [1]:
import pandas as pd
import numpy as np

In [2]:
datafile = "../data/raw/UTK-peers.xls"

In [3]:
df = pd.read_excel(datafile, na_values=["-"],
                   nrows=57, true_values=["x"])

In [4]:
df.head()

,Name,IPEDS#,Carm R1,HBC,% Blk Total Students,% Hisp Total Students,2017 US News top 65,2014 Med School,Vet School,Total Enroll,...,ACT/ SAT 25%,ACT/ SAT 75%,(State/ Tuit)/ St. FTE,Med School Res $,Academic Support Expenditures,Student Services Expenditures,Endowment Figure,Endowment per Student FTE,Total Faculty.1,Total Tenure /Tenure-Track Facutly.1
0,Univ. of Tennessee - Knoxville,221759.0,1,No,6.625965,3.404561,46,NaN,True,27845,...,24,30,22093.596931,0,782734414,30587.112868,782734414,30587.112868,1526,1117
1,Univ. of Georgia,139959.0,1,No,8.048713,4.732909,18,NaN,True,36130,...,25,30,23743.789087,0,939024216,27830.636107,939024216,27830.636107,1918,1606
2,Purdue Univ.,243780.0,1,No,2.994663,4.128780,20,NaN,True,40472,...,23,30,25230.954999,0,2445541926,66375.581533,2445541926,66375.581533,1783,1700
3,Texas A&M Univ.,228723.0,1,No,3.203109,19.193581,27,pre clin,True,63813,...,23,29,29423.418111,52058,10521034492,180613.450122,10521034492,180613.450122,2983,1995
4,Michigan State Univ.,171100.0,1,No,6.591080,4.020737,33,x,True,50538,...,23,28,22975.311112,52594,2549137018,55180.107179,2549137018,55180.107179,2616,1811

In [5]:
# Fill in missing values from research

In [6]:
# Add Clemson IPEDS number
ix = np.where(df["Name"] == "Clemson Univ.")[0][0]
df.at[ix, "IPEDS#"] = 217882

In [25]:
# Drop "HBC" since it has no variance
# Drop "Med School Res $" since it's missing for many schools
# Drop "AG Research ($000)" since it's missing for many schoools
# Drop "Wall St. Jourl Rank" since it's missing for many schoools
drop_columns = [
    "HBC", 
    "Med School Res $",
    "AG Research ($000)",
    "Wall St. Jourl Rank"
]
df_clean = df.drop(drop_columns, 'columns')

In [26]:
# Some of these columns are categorical.
# Convert them to one-hot
categorical_columns = [
    "Carm R1",
    "2014 Med School",
    "Vet School",
]
df_clean = pd.get_dummies(df_clean, columns=categorical_columns)

In [27]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_clean.loc[31])

Name                                          Mississippi State Univ.
IPEDS#                                                         176080
% Blk Total Students                                          19.2689
% Hisp Total Students                                         2.46251
2017 US News top 65                                                93
Total Enroll                                                    20873
% Grad Enroll                                                 16.5381
Six-year graduation rate                                           60
ACT/ SAT Avg                                                       25
Fresh Admit Rate                                              65.2418
% Freshmen Retention                                               82
% UG Pell Grants                                                   32
% Bachelors                                                    76.507
% Doct/ Profess                                                5.3848
Total E&G Expend                                            557124295
E&G / St. FTE                                                   33938
State Approp Rev                                            180278300
Tuition/Fee Rev                                             134396877
% Rev from State                                              26.5927
% Rev from Tuit/Fees                                          19.8248
% from State / Tuition                                        46.4175
Endowment                                                 4.44485e+08
Total Research Expenditures ($000)                             226359
Student Faculty Ratio                                              19
Total Faculty                                                    1110
ARU Faculty Awards                                                  1
ST. FTE                                                         18873
Total Degrees                                                    4197
Total Expend                                                640511953
Total Revenue                                               677923258
Enowment / St. FTE                                              23809
Total Research Exp - Med School Exp ($000)                     226359
Total Tenure /Tenure-Track Facutly                                749
Facutly FTE                                                      1007
% UG with Loans                                                    49
% UG Age 25 +                                                 9.52299
% Total Age 25 +                                              20.3852
% Full-Time                                                   85.6274
Faculty Academy Memb                                                2
UG Total Enroll                                                 17421
GR Total Enroll                                                  3452
Full-time Students                                              17873
Part-time Students                                               3000
UG Enroll Age 25 +                                               1659
GR Enroll Age 25 +                                               2596
Bach Degrees                                                     3211
Masters Degrees                                                   760
Doctoral Degrees                                                  146
Profess Degrees                                                    80
ACT/ SAT 25%                                                       21
ACT/ SAT 75%                                                       29
(State/ Tuit)/ St. FTE                                        16673.3
Academic Support Expenditures                               456609736
Student Services Expenditures                                 24193.8
Endowment Figure                                            456609736
Endowment per Student FTE                                     24193.8
Total Faculty.1                                                   956
Total Tenure /Tenure-Track Facutly.1                              748
Carm R1_1                                                           0
Carm R1_2                                                           1
2014 Med School_pre clin                                            0
2014 Med School_x                                                   0
Vet School_True                                                     1
Name: 31, dtype: object

In [28]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_clean[df_clean.isnull().any(axis=1)])

,Name,IPEDS#,% Blk Total Students,% Hisp Total Students,2017 US News top 65,Total Enroll,% Grad Enroll,Six-year graduation rate,ACT/ SAT Avg,Fresh Admit Rate,% Freshmen Retention,% UG Pell Grants,% Bachelors,% Doct/ Profess,Total E&G Expend,E&G / St. FTE,State Approp Rev,Tuition/Fee Rev,% Rev from State,% Rev from Tuit/Fees,% from State / Tuition,Endowment,Total Research Expenditures ($000),Student Faculty Ratio,Total Faculty,ARU Faculty Awards,ST. FTE,Total Degrees,Total Expend,Total Revenue,Enowment / St. FTE,Total Research Exp - Med School Exp ($000),Total Tenure /Tenure-Track Facutly,Facutly FTE,% UG with Loans,% UG Age 25 +,% Total Age 25 +,% Full-Time,Faculty Academy Memb,UG Total Enroll,GR Total Enroll,Full-time Students,Part-time Students,UG Enroll Age 25 +,GR Enroll Age 25 +,Bach Degrees,Masters Degrees,Doctoral Degrees,Profess Degrees,ACT/ SAT 25%,ACT/ SAT 75%,(State/ Tuit)/ St. FTE,Academic Support Expenditures,Student Services Expenditures,Endowment Figure,Endowment per Student FTE,Total Faculty.1,Total Tenure /Tenure-Track Facutly.1,Carm R1_1,Carm R1_2,2014 Med School_pre clin,2014 Med School_x,Vet School_True
6,Clemson Univ.,217882.0,6.251652,3.026698,23,22698,20.627368,81,29.0,51.272549,93,15,71.83704,4.429079,693048280,40436.394596,106344796,316893164,13.21195,39.36983,52.581779,NaN,171215,18,1263,4,20982.666667,5351,848463389,804913728,NaN,171215,882,1177,43,3.863233,17.530179,88.664199,2,18016,4682,20125,2573,696,3283,3844,1270,237,0,27,31,20170.837517,836151997,39849.653539,836151997,39849.653539,1134,878,1,0,0,0,0

In [ ]:
# Clemson endowment in 2017 was $608,000,000
# Source: https://www.clemson.edu/giving/cufoundations/documents/allocations.pdf